<!DOCTYPE html>
<html>

<head>
  <title>Upload Image</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    .nav {
      height: 50px;
    }

    .page-footer {
      background-color: rgb(81, 82, 84);
    }
    .cheque{
      width: 600px;
      height: 300px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Check Cheque</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="{{ 'active' if active_page == 'upload_page' else '' }}"><a href="{{ url_for('home_page') }}">Home</a></li>
        <li><a href="#">Guide</a></li>
        <li class="{{ 'active' if active_page == 'upload_page' else '' }}"> <a href="{{ url_for('upload_page') }}">Use it</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}

    <h1>Upload new File</h1>

    <form method=post enctype=multipart/form-data> <p>
      <!-- <input type=file name=file class="custom-file-input"><br> -->

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" name="file" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
      <input type=submit value=Upload class="btn btn-primary">
    </form>

    <h1>Result:</h1>
    {% if img_src %}
    <img class = "cheque" src="{{ img_src }}">
    {% endif %}

    {% if extracted_text %}
    <table class="table table-striped table-dark">
      <thead>
        <tr>

          <th scope="col">Parameters</th>
          <th scope="col">Values</th>

        </tr>
      </thead>
      <tbody>
        <tr>

          <td>Name</td>
          <td>{{ extracted_text[0]}}</td>

        </tr>
        <tr>

          <td>Amount</td>
          <td>{{ extracted_text[2]}}</td>

        </tr>
        <tr>

          <td>A/C no.</td>
          <td>{{ extracted_text[1]}}</td>

        </tr>

        <tr>

          <td>Signature verified</td>
          <td>Yes</td>

        </tr>


      </tbody>
    </table>
    <!-- <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p> -->

    {% else %}
    The extracted text will be displayed here
    {% endif %}

    

  </div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img src="cc_logo.png" alt="">
          <p class="grey-text text-lighten-4">Made with ❤️ by SPIT Mumbai_jobchahiye</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Guide </a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Use it</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019
        <a class="grey-text text-lighten-4 right" href="https://technoutsav.techgig.com/">Deloitte || TechnoUtsav
          2.0</a>
      </div>
    </div>
  </footer>
</body>

</html>